.container {
  height: 3.125rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25rem;
  font-size: 1.125rem;

  li {
    display: inline;
    margin-right: 1.875rem;
    font-size: 0.875rem;
    color: lightgray;
    cursor: pointer;
  }
}
