.container {
  height: 3.125rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.125rem;
  font-size: 1.125rem;
  position: relative;

  li {
    display: inline;
    margin-left: 1.875rem;
    font-size: 0.875rem;
    color: lightgray;
    cursor: pointer;
  }
  .hamburger {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .container {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .list {
      display: none;
    }
    .hamburger {
      width: 1.5625rem;
      height: 1.25rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .line {
        width: 100%;
        height: 0.1875rem;
        background-color: white;
      }
    }
    .menu {
      position: fixed;
      height: calc(100vh - 3.125rem);
      width: 50vw;
      background-color: black;
      top: 3.125rem;
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: lightgray;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 9999;
      transition: all 0.6s ease;

      .menuItem {
        margin: 1.25rem 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1.25rem;
  }
}
